{% layout 'theme' %}
<h3>template-ejs-{{ shop.name }}</h3>

<% if (categoryInfo) { %>
  <p>分类: <%= categoryInfo.title %></p>
<% } %>

<ul class="product-list">
  <% products.forEach(function(product) { %>
    <li><%= product.title %></li>
  <% }); %>
</ul>